@model IEnumerable<OnlineBusReservationV6.Models.Bus>
@{
    ViewBag.Title = "Buses";
}

<div class="container">

    <h2>Buses</h2>
    <a href="@Url.Action("Index", "Admin")" class="btn btn-default pull-right">
        <span class="fa fa-dashboard fa-fw  text-info"></span> Dashboard
    </a>
    <p>Whole Buses on System - Statistics Overview</p>    
    <div class="row">
        <div class="col-md-12">
            <br /><br />
            <table class="table table-hover table-responsive" id="buses">
                <thead>
                    <tr>
                        <th><span class="fa fa-bus"></span> Bus Number</th>
                        <th><span class="fa fa-arrow-circle-o-right"></span> Color</th>
                        <th><span class="fa fa-user-circle"></span> Driver</th>
                        <th><span class="fa fa-window-maximize"></span> Maximum Seats</th>
                        <th><span class="fa fa-flag-checkered"></span> Booked Seats</th>
                        <th><span class="fa fa-loveseat"></span> Free Seats</th>
                        <th>
                            <a href="@Url.Action("AddBus", "Admin")" class="btn btn-link">
                                <span class="fa fa-plus fa-fw  text-info"></span> Add New Bus
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Bus in Model)
                    {
                        <tr>
                            <td>@Bus.BusNumber</td>
                            <td>@Bus.Color</td>
                            <td><a href="@Url.Action("ViewDriver", "Admin", new { id = Bus.Driver.Id})">@Bus.Driver.Name</a></td>
                            <td>@Bus.MaximumSeats</td>
                            <td>@Bus.BookedSeats.Count</td>
                            <td>@(@Bus.MaximumSeats - @Bus.BookedSeats.Count)</td>
                            <td>
                                <div class="btn-group">
                                    <a href="@Url.Action("ViewBus", "Admin", new { id = Bus.Id})" class="btn btn-info">View</a>
                                    <a href="@Url.Action("EditBus", "Admin", new { id = Bus.Id})" class="btn btn-success">Edit</a>
                                    @*<a href="@Url.Action("DeleteBus", "Admin", new { id = Bus.Id})" class="btn btn-danger">Delete</a>*@
                                    <button class="btn btn-danger js-delete" data-bus-id="@Bus.Id">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts
{

    <script>
        $(document).ready(function () {
            //To Make My Table is a DataTable
            $("#buses").DataTable();

            $("#buses").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are You Sure You Want to Delete This Bus!", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/DeleteBus/" + button.attr("data-bus-id"),
                            method: "Delete",
                            success: function () {
                                button.parents("tr").remove();
                                toastr.success("Successful Process");
                            },
                            fail: function () {
                                toastr.error("Can't Operate This Process");
                            }
                        });
                    }
                });
            });            
        });
    </script>

}